/* Changing Box Model*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
/*Clearfix*/

.clearfix:before,
.clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 100;
}
/*Setting font size to broswer default size */

html {
	font-size: 1em;
	line-height: 1;
}
