nav, .main, footer {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

nav {
  background-color: tomato;
}

nav a {
  background-color: grey;
}

.main {
  background-color: lightskyblue;
  width: 100%;
}

section, article {
  background-color: grey;
  border: 3px solid black;
  position: relative;
}

.slideshow {
  width: 50%;
}

.main section {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row nowrap;
}

.main article div {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-box;
  display: flex;
  -webkit-flex-flow: row;
}

.main section article {
  width: 50%;
}

.main ul li {
  display: block;
}


ul li {
  display: inline;
}

progress{
  width: calc(100% - 50px);
}


.main article:nth-child(4){
  width: 100%;
  text-align: center;
}

.main article:nth-child(4) div{
  display: inline-block;
}

.breadcrumbs {
  position: absolute;
  right: 50px;
  bottom: 10px;
}

h1 {
  margin-left: 30px;
}


footer {
  background-color: orange;
}
